<a href="https://colab.research.google.com/github/kushagrasharma-13/Artificial_Neural_network/blob/main/ANN_ChurnModelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ANN on Churn Modelling Data-set

Label Encoding, OneHot Encoding, Scaler Tranformation

Confusion Matrix, Classification Report

Accuracy, Precision, Recall, F1_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import keras
import sklearn
import numpy as np
import pandas as pd
import tensorflow as tf
from keras.layers import Dense
from keras.models import Sequential
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [ ]:
print(np.__version__)
print(tf.__version__)
print(keras.__version__)
print(sklearn.__version__)

1.22.4
2.12.0
2.12.0
1.2.2

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Python/Datasets/Churn_Modelling.csv')

In [ ]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
corr = dataset.corr()
corr.style.background_gradient(cmap='coolwarm')

<ipython-input-7-2578b6b05f7c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = dataset.corr()

In [ ]:
x = dataset.iloc[:,3:-1].values
y = dataset.iloc[:,-1].values

In [ ]:
LE = LabelEncoder()
x[:,2] = LE.fit_transform(x[:,2])

In [ ]:
CT = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
x = np.array(CT.fit_transform(x))

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [ ]:
SC = StandardScaler()
x_train = SC.fit_transform(x_train)
x_test = SC.fit_transform(x_test)

In [ ]:
model = Sequential()
model.add(Dense(units=12, activation='relu'))
model.add(Dense(units=6, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [ ]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(x_train, y_train, batch_size=32, epochs=24)

Epoch 1/24
219/219 [==============================] - 1s 2ms/step - loss: 0.5697 - accuracy: 0.7304
Epoch 2/24
219/219 [==============================] - 0s 2ms/step - loss: 0.4581 - accuracy: 0.8114
Epoch 3/24
219/219 [==============================] - 0s 2ms/step - loss: 0.4348 - accuracy: 0.8183
Epoch 4/24
219/219 [==============================] - 0s 2ms/step - loss: 0.4183 - accuracy: 0.8240
Epoch 5/24
219/219 [==============================] - 0s 2ms/step - loss: 0.4055 - accuracy: 0.8273
Epoch 6/24
219/219 [==============================] - 1s 2ms/step - loss: 0.3932 - accuracy: 0.8321
Epoch 7/24
219/219 [==============================] - 1s 2ms/step - loss: 0.3795 - accuracy: 0.8409
Epoch 8/24
219/219 [==============================] - 1s 2ms/step - loss: 0.3663 - accuracy: 0.8483
Epoch 9/24
219/219 [==============================] - 1s 2ms/step - loss: 0.3569 - accuracy: 0.8539
Epoch 10/24
219/219 [==============================] - 1s 3ms/step - loss: 0.3510 - accuracy: 0.8577
Epoch 11/24
219/219 [==============================] - 1s 3ms/step - loss: 0.3474 - accuracy: 0.8603
Epoch 12/24
219/219 [==============================] - 1s 3ms/step - loss: 0.3454 - accuracy: 0.8587
Epoch 13/24
219/219 [==============================] - 1s 2ms/step - loss: 0.3435 - accuracy: 0.8586
Epoch 14/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8591
Epoch 15/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8603
Epoch 16/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8589
Epoch 17/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8630
Epoch 18/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8619
Epoch 19/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8607
Epoch 20/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8634
Epoch 21/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8610
Epoch 22/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8636
Epoch 23/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3368 - accuracy: 0.8616
Epoch 24/24
219/219 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8619

In [ ]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 12)                156

 dense_4 (Dense)             (None, 6)                 78

 dense_5 (Dense)             (None, 1)                 7

=================================================================
Total params: 241
Trainable params: 241
Non-trainable params: 0
_________________________________________________________________

Predicting the result of single observation -->


Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: $ 50000

So, should we say goodbye to that customer ?

In [ ]:
print(model.predict(SC.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 93ms/step
[[False]]

In [ ]:
y_pred = model.predict(x_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

94/94 [==============================] - 0s 1ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [1 1]]

In [ ]:
print("Confusion Matrix: ")
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[2278  101]
 [ 320  301]]

In [ ]:
print("Classification Report: ")
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.96      0.92      2379
           1       0.75      0.48      0.59       621

    accuracy                           0.86      3000
   macro avg       0.81      0.72      0.75      3000
weighted avg       0.85      0.86      0.85      3000

In [ ]:
print("Accuracy: {:.2f}%".format(accuracy_score(y_test, y_pred)*100))
print("Precision: {:.2f}%".format(precision_score(y_test, y_pred)*100))
print("Recall: {:.2f}%".format(recall_score(y_test, y_pred)*100))
print("F1_score: {:.2f}%".format(f1_score(y_test, y_pred)*100))

Accuracy: 85.97%
Precision: 74.88%
Recall: 48.47%
F1_score: 58.85%